@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap'); 


.nav-point{
  font-family:'Blinker', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #050f19;
}
.main-p1{
  color: #0052ff;
}
.main-p1:hover{
  color: #0052ff;
  cursor: pointer;
}
.first{
  padding-top: 50px;
}
.main-p1{
  font-size: 22px;
}
.main-p2{
  font-family: 'Blinker', sans-serif;
  font-size: 62px;
  color: #0A0B0D;
  font-weight: 800;
}
.main-p3{
  font-family: 'Blinker', sans-serif;
  font-size: 20px;
  color: #0A0B0D;
}
.section-p1{
  font-family: 'Blinker', sans-serif;
  font-weight: bolder;
  font-size: 40px;
  word-spacing: 10px;
  letter-spacing: 2.5px;
  color: black;
}
.section-p3{
  font-family: 'Blinker', sans-serif;
  font-weight: 600;
  font-size: 30px;
}
 
 
